:root {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

* {
  margin: 0;
}

body {
  background-color: rgb(202, 202, 202);
}

button {
  font-size: 16px;
}
button:hover {
  cursor: pointer;
  transition-duration: 250ms;
}

#app {
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}
